docker
gunicorn
Flask
Flask-Testing
Flask-Caching
pytest
pytest-flask
pre-commit
pyyaml
Pillow
git+https://github.com/jay3332/pilmoji.git@96a0135228aaa3d6f5ee8b05d2c80ff3d96a27f0
beautifulsoup4
cairosvg
rcssmin
rjsmin
