<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ name }}">
    <title>{{ name }}</title>
    <link rel="icon" type="png" href="data:image/png;base64,{{ favicon }}">
    <style>
        {{ css | safe }}
    </style>
</head>
<body>
    <div id="menu-toggle" onclick="toggleMenu()"></div>
    <div id="menu-toggle-move" onclick=""><span class="arrow-adjust">↓</span></div>
    <div id="menu">
        <div class="menu-title">
            <img src="data:image/png;base64,{{ favicon }}" alt="App Favicon">
            <span>{{ name }}</span>
        </div>
        <button id="fullscreenButton">Toggle Full Screen</button>
        {% if banner_title %}
            <div id="banner" class="banner">
                <span class="banner-title">{{ banner_title }}</span>
                {% if banner_body %}
                    <p class="banner-body">{{ banner_body }}</p>
                {% endif %}
            </div>
        {% endif %}
        <div class="app-container">
            {% for tab in tabs %}
                <div class="tab" onclick="selectTab({{ loop.index0 }})">
                    <div class="tab-image-container">
                        <img src="data:image/png;base64,{{ tab.icon }}" alt="{{ tab.name }}">
                    </div>
                    <div class="tab-text-container">
                        <span>{{ tab.name }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="footer">
            <div>Powered by <a class="link" href="https://github.com/mullinmax/flip-flop">Flip-Flop</a></div>
            <div>Version: {{version}}</div>
        </div>
    </div>
    <div class="loading-spinner">
        <img class="loader-icon" style="display: none;" alt="App Icon">
        <div class="loader"></div>
    </div>
    {% for tab in tabs %}
        <iframe id="iframe-{{ loop.index0 }}" class="app-iframe full-grid" src="" data-loaded="false" title="{{ tab.name }}" style="display: none;"></iframe>
    {% endfor %}




    <script>
        const tabsData = [
            {% for tab in tabs %}
                { url: "{{ tab.url }}", name: "{{ tab.name }}" },
            {% endfor %}
        ];
        {{ js | safe }}
    </script>
</body>
</html>
