<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ name }}">
    <title>{{ name }}</title>
    <link rel="icon" type="png" href="data:image/png;base64,{{ favicon }}">
    <style>
        {{ css | safe }}
    </style>
</head>
<body>
    <div id="menu-toggle" onclick="toggleMenu()">☰</div>
    <div id="menu">
        <div class="menu-title">
            <img src="data:image/png;base64,{{ favicon }}" alt="App Favicon">
            <span>{{ name }}</span>
        </div>
        {% if banner_title %}
            <div id="banner" class="banner">
                <span class="banner-title">{{ banner_title }}</span>
                {% if banner_body %}
                    <p class="banner-body">{{ banner_body }}</p>
                {% endif %}
            </div>
        {% endif %}
        <div class="app-container">
            {% for tab in tabs %}
                <div class="tab" onclick="selectTab('{{ tab.url }}')">
                    <div class="tab-image-container">
                        <img src="data:image/png;base64,{{ tab.icon }}" alt="{{ tab.name }}">
                    </div>
                    <div class="tab-text-container">
                        <span>{{ tab.name }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% for tab in tabs %}
        <iframe id="iframe-{{ tab.name }}" class="app-iframe full-grid" src="{{ tab.url }}" title="{{ tab.name }}"></iframe>
    {% endfor %}

    <script>
        {{ js | safe }}
    </script>
</body>
</html>
