:root {
    --background-color: black;
    --menu-bg-color: #333;
    --tab-hover-bg-color: #555;
    --tab-active-bg-color: #777;
    --banner-bg-color: #124fa5;
    --button-bg-color: #007bff;
    --button-hover-bg-color: #0056b3;
    --text-color: white;
    --button-border-radius: 10px;
    --tab-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

#tab-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--menu-bg-color);
    z-index: 100;
    overflow-y: auto;
    transform: translateX(0);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tab-container.close {
    transform: translateX(100%);
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 600px;
    justify-items: center;
    align-items: start;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--menu-bg-color);
    border-radius: var(--button-border-radius);
    transition: background-color 0.3s;
    aspect-ratio: 4 / 3;
    box-shadow: var(--tab-box-shadow);
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 5px;
}

.tab-text-container {
    font-size: calc(10px + .75vmin);
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-image-container, .tab-icon {
    width: 60%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.tab-icon {
    font-size: 4em;
    line-height: 1;
}

.tab:hover {
    background-color: var(--tab-hover-bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75);
}

.tab.active {
    background-color: var(--tab-active-bg-color);
    font-weight: bold;
}

.menu-title {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
}
.menu-title img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#menu-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 90;
    cursor: pointer;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: right 0.75s ease, background-color 0.3s;
}

#menu-toggle:hover {
    background-color: var(--button-hover-bg-color);
}

#menu-toggle.close {
    right: -60px;
}

#menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
    border-radius: var(--button-border-radius);
}

#menu-close:hover {
    background-color: var(--tab-hover-bg-color);
}

.banner {
    grid-column: 1 / -1;
    background-color: var(--banner-bg-color);
    color: var(--text-color);
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner-title {
    font-size: calc(20px + .75vmin);
    font-weight: bold;
    margin: 25px;
}

.banner-body {
    font-size: calc(10px + .75vmin);
    margin: 15px;
}

.app-iframe{
    border: 0px;
    width: 100vw;
    height: 100vh;
}
